/* Hide the default cursor */
body {
    cursor: none;
}

/* Red ball cursor */
.custom-cursor {
    width: 20px;
    height: 20px;
    background-color: rgb(250, 168, 68);
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transform: translate(-50%, -50%);
    transition: transform 0.05s ease;
    z-index: 9999;
}
